.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  border-right: 1px solid white;
  padding-right: 0.25em;
}

.navbar-brand:hover {
  background-color: white;
  color: black !important;
  border-radius: 0.5em;
}

.form-group {
  padding: 5px;
  white-space: nowrap;
}

.form-group label {
  float: left;
  padding: 5px;
  width: 25%;
}

.form-group .form-control {
  width: 75%;
  max-width: 85% !important;
}

.form-group.half-column {
  float: left;
}
.form-group.half-column label {
  width: 100%;
}
.form-group.half-column .form-control {
  width: 100%;
  max-width: 100% !important;
}

.form-group.submit-line {
  display: flex;
  align-items: center;
}

.form-group.submit-line .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

textarea.form-control {
  resize: none;
}

textarea.form-control.compact-text {
  font-size: x-small;
}

.table-condensed tr , .table-condensed td{
  padding: 2px 4px !important;
  font-size: smaller;
  vertical-align: middle;
}

.x-small-text {
  font-size: x-small !important;
  white-space: nowrap;
}
